* {box-sizing: border-box;}

body{
    font-family: 'Lato', sans-serif;
}

p {
    font-size: medium;
    text-align: left;
}

h1 {
    text-align: center;
}

h2 {
    text-align: -webkit-left;
}

h3 {
    margin-bottom: 10%;
}

br {
    margin-left: 15px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    font-size: medium;
    text-align: left;
    margin-bottom: 5%;
}

a {
    text-decoration: none;
    color: white;
    font-size: medium;
}

.content{
    margin-left: 10%;
    margin-right: 10%;
}
.aside {
    background-color: black;
    color: white;
    padding: 20px;
}

.progress {
    margin-left: 15px;
    margin-top: 7%;
}

.progress-bar {
    background-color: orangered;
}

.img-circle {
    width: 100%;
    height: auto;
}

.inLine {
    text-align: center;
}

.main {
    padding: 0;
}

.whiteIcon {
    margin-right: 0;
    margin-top: 5%;
}

.fa-github {
    font-size: 2.2em;
    margin-left: 5%;
    margin-right: 5%;
}

.fa-linkedin {
    font-size: 2.2em;
    margin-left: 5%;
    margin-right: 5%;
}

.glyphicon {
    font-size: 2em;
    margin-left: 5%;
    margin-right: 5%;
}

.orangeIcon {
    color: orangered;
    font-size: 3.5em;
    text-align: center;
    margin-left: 10%;
    margin-top: 10%;
}

.mide {
    margin-bottom: 15%;
}
@media only screen /*iPad Pro*/
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .mide {
        margin-bottom: 2%;
    }
}
@media (max-width:1022px){
    .mide {
        margin-bottom: 2%;
    }
}

.info {
    margin-bottom: 5%;
    margin-top: 5%;
}

form {
    /* width: 42.5%; */
    height: auto;
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 15%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

textarea, input {
    /* padding: 5px;
    border: 1px solid #ccc; */
    margin-bottom: 25px;
    /* width: 245px; */
    color: black;
}

.formBlock {
    padding-left: 0;
    padding-right: 0;
}

#submit {
    background-color: orangered;
    border: 1px solid rgb(219, 62, 5);
}
#submit:hover {
    background-color: rgb(219, 62, 5);
    border: 1px solid rgb(219, 62, 5);
}

#scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 20px;
    opacity: 0.7;
}

#scroll-to-top:hover {
    opacity: 1;
}
