.aside {
    background-color: black;
    color: white;

}

.progress-bar{
    background-color:grey;
}

.img-circle{
    width: 100%;
    height:auto;
}
.line{
    background-color: grey;
    width: 40%;
    height: 3px;
    display: block;
}