.aside {
    background-color: black;
    color: white;

}
.progress{
    margin-left: 15px;
}
.progress-bar{
    background-color:grey;
}

.img-circle{
    width: 100%;
    height:auto;
}

p{
    font-size: large;
    text-align: left;
}
.glyphicon{
    font-size:2em;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    text-align: center;
}
br{
    margin-left: 15px;
}
.inLine{
    text-align: center;
}