body{
    font-family: 'Lato', sans-serif;
}

p {
    font-size: medium;
    text-align: left;
}

h1 {
    text-align: center;
}

h2 {
    text-align: -webkit-left;
}

br {
    margin-left: 15px;
}

ul {
    list-style-type: none;
    padding-left: 0%;
}

li {
    font-size: medium;
    text-align: left;
    margin-bottom: 5%;
}
.content{
    margin-left: 10%;
    margin-right: 10%;
}
.aside {
    background-color: black;
    color: white;
    padding: 20px;
}

.progress {
    margin-left: 15px;
    margin-top: 7%;
}

.progress-bar {
    background-color: orangered;
}

.img-circle {
    width: 100%;
    height: auto;
}

.inLine {
    text-align: center;
}

.main {
    padding: 20px;
}

.whiteIcon {
    margin-right: 0;
    margin-top: 5%;
}

.glyphicon {
    font-size: 2em;
    margin-left: 5%;
    margin-right: 5%;
}

.orangeIcon {
    color: orangered;
    font-size: 3.5em;
    text-align: center;
    margin-left: 10%;
    margin-top: 10%;
}

.mide {
    margin-bottom: 15%;

}

.info {
    margin-bottom: 5%;
    margin-top: 5%;
}

#education{
    border: solid 2px black;
    margin: 20px 20px 20px 20px;
}
#interestes{
    border: solid 2px black;
    margin: 20px 20px 20px 20px;
}
#work{
    border: solid 2px black;
    margin: 20px 20px 20px 20px;
}


